body {
    background: rgb(37, 44, 155)
}

#banner {
    width: 100%;
   }

h1 {
    text-align: center;
    color: blueviolet;
}
p {
    text-align: center;
}
#missao {
    font-size: 20px
}

em strong {
    color: #FF0000;
}
